@model string

<div style="background-color: green; display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <h1>Xin chao @Model</h1>
    <p>Chao ban den View (.cshtml)</p>
</div>

@this.Path