@model App.Models.ProductModel

<div style="background-color: gray; display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <h1>@Model.Name</h1>
    <p>Gia: @Model.Price </p>
</div>

@this.Path